@import 'nib'

//Colores
blanco 		= #ffffff
casi-negro 	= #333333


//General
body 
	display flex
	min-height 100vh
	flex-direction column
	
section#body
	flex 1 0 auto
	

//Style
header
	.brand-logo
		padding-left 5px

section#body
	#result 
		margin 50px auto
	.info
		padding 10px 20px
		width 100%
	


