body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
i {
  vertical-align: middle;
}
section#body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
header .brand-logo {
  padding-left: 5px;
}
section#body #result {
  margin: 0 auto 50px auto;
}
section#body .info {
  padding: 10px 20px;
  width: 100%;
}
#data-to-graph {
  margin: 10px auto 25px auto;
  width: 75%;
}
