@import 'nib'

//Colores
blanco 		= #ffffff
casi-negro 	= #333333
gris 		= #dddddd


//General
body 
	display flex
	min-height 100vh
	flex-direction column

i
	vertical-align middle
	
section#body
	flex 1 0 auto

	

//Style
header
	.brand-logo
		padding-left 5px

section#body
	#result 
		margin 0 auto 50px auto
	.info
		padding 10px 20px
		width 100%

.dataRow
	border-top 1px solid gris
	padding 15px 0 20px 0
#dataRow
	border none

#data-to-graph
	margin 30px auto 25px auto
	width 75%
	



